.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px;
} 
  
.input-field { 
    width: 100%; 
    padding-left: 10px; 
    text-align: center; 

} 
.bk-ground-color{
    background-color:rgb(128,128,128);

}

.rounded-border{
    border:1px solid rgb(0,0,0);border-radius: 25px;
}
.span-col{
    color:rgb(139,69,19);
}
.img-overflow{
    overflow: hidden;
}
.hover-img{
    transition: all .9s ease-in-out;
}
.hover-img:hover{
    transform: scale(1.5);
}
/* admin panel */
.lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  small {
    font-size: 80%;
  }
  small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.fa, .fas {
    font-weight: 900;
}
.bg-teal, .bg-teal>a {
    color: #fff!important;
}
.bg-teal {
    background-color: #20c997!important;
}
.img-circle {
    border-radius: 50%;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
}

.img-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }